.sobre-festival {
    padding: $separacion 0;

    @include tablet{
        @include grid(2, $separacion);
    }
}
.contenido-festival {
    //para que eltexto
    display: flex;
    flex-direction: column;
    justify-content: center;
    // y la imagen esten alineados.
    h2{
        font-size: 3rem;
    }
    .fecha{
        color: $rosa;
        font-weight: $bold;
    }
    .texto{
        line-height: 1.5;//interlineaddod
    }
}